


<div style="margin-left: 1150px; margin-bottom: -80px;">
  <img src="assets/gray-logo.png" alt="logo-gray" class="logo-gray">
</div>
 <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px; height: 628px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <img src="assets/white-logo.png" alt="white-logo" class="logo-white">
    </a>
      <p class="user">User: </p><p class="admin-text">Admin</p>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="#" class="nav-link">
          Dashboard
        </a>
      </li>
      <li>
        <a href="#" class="nav-link">
          Manage Sales User
        </a>
      </li>
      <li>
        <a href="#" class="nav-link active" aria-current="page">
          Manage Product
        </a>
      </li>
      <li>
        <a href="#" class="nav-link">
          Sales Report
        </a>
      </li>
      <li>
        <a href="#" class="nav-link">
          User Logs
        </a>
      </li>
    </ul>
    <hr>
    <div>
      <a href="#" style="text-decoration: none;">
        <strong>Logout</strong>
      </a>
    </div>
  </div>


<div style="margin-top: -540px; margin-left: 850px; ">
  <input type="text" placeholder="Search" class="searchBar">
  <button class="btnAddSales">Add Sales User</button>
</div>




<table class="table table-hover" style="width: 780px; margin-top: 10px; margin-left: 380px; border-radius: 10px;">
  <thead>
    <tr>
      <th scope="col">User ID</th>
      <th scope="col">Lastname</th>
      <th scope="col">Firstname</th>
      <th scope="col">Middlename</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">co20323</th>
      <td>Navarro</td>
      <td>Nestine</td>
      <td>Brazil</td>
      <td><button class="btnView">view</button><button class="btnDelete">delete</button></td>
    </tr>
  </tbody>
</table>

