<div style="margin-left: 1150px; margin-bottom: -80px;">
  <img src="assets/gray-logo.png" alt="logo-gray" class="logo-gray">
</div>
<div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px; height: 628px;">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
    <img src="assets/white-logo.png" alt="white-logo" class="logo-white">
  </a>
  <p class="user">User: </p>
  <p class="admin-text">Juan Dela cruz</p>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a href="#" class="nav-link active" aria-current="page">
        Dashboard
      </a>
    </li>
    <li>
      <a href="#" class="nav-link">
        Sales Transaction
      </a>
    </li>
    <li>
      <a href="#" class="nav-link">
        Sales Report
      </a>
    </li>
  </ul>
  <hr>
  <div>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="#" class="nav-link" style="text-decoration: none;">
          <strong>Account Setting</strong>
        </a>
      </li>
      <li>
        <a href="#" class="nav-link" style="text-decoration: none;">
          <strong>Logout</strong>
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="container1">

</div>

<div class="container2">

</div>

<div class="container3">

</div>