.container1 {
  background-color: #0000007c;
  position: absolute;
  height: 150px;
  width: 380px;
  margin-top: -500px;
  margin-left: 380px;
  border-radius: 23px;
}

.container2 {
  background-color: #0000007c;
  position: absolute;
  height: 150px;
  width: 380px;
  margin-top: -500px;
  margin-left: 780px;
  border-radius: 23px;
}

.container3 {
  background-color: #0000007c;
  position: absolute;
  height: 300px;
  width: 780px;
  margin-top: -330px;
  margin-left: 380px;
  border-radius: 23px;
}

a {
  color: white;
}

.nav-link:hover {
  background-color: white;
  color: black;
  border-radius: 5px;
}

.logo-gray {
  /* margin-left: 1130px;
  margin-bottom: -130px; */
  height: 80px;
  width: 80px;
}

.logo-white {
  height: 120px;
  width: 120px;
  margin-left: 60px;
  margin-top: -20px;
  margin-bottom: -10px;
}

.user {
  margin-left: 80px;
  font-weight: bold;
}

.admin-text {
  font-weight: bold;
  margin-top: -40px;
  margin-left: 120px;
  margin-bottom: 0px;
}